generator client {
  provider        = "prisma-client-js"
  previewFeatures = ["multiSchema", "prismaSchemaFolder"]
}

//generator docs {
//  provider              = "node ../../node_modules/prisma-docs-generator"
//  includeRelationFields = false
//  output                = "/docs"
//}

datasource db {
  provider = "postgresql"
  url      = env("DATABASE_URL")
  schemas  = ["commerce", "identity", "security"]
}

generator jsonSchema {
  provider                 = "prisma-json-schema-generator"
  output                   = "json-schema"
  keepRelationScalarFields = "true"
  schemaId                 = "some-schema-id"
  includeRequiredFields    = "true"
  persistOriginalType      = "true"
  forceAnyOf               = "true"
}
